body {
  background-color: #eefaea;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
  color: #b3b3b3;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #7366bf;
}

.bloom {
  color: goldenrod;
}
